<form class="flex-container" method="POST">
    <span class="letterpress">Free url shortener</span>
    <p align="center" class="txt">Paste the address below</p>
    <input title="url" type="url" name="url">
    <button class="button" type="submit">Shorten</button>
</form>
